[Unit]
Description=Twitch Bot Service
After=network.target

[Service]
Type=simple
#Например, бот лежит в /root/twitch_bot
#WorkingDirectory=/root/twitch_bot
WorkingDirectory=ваша/директория/где/bot
#Или сразу путь до Python3.11
#ExecStart=/usr/bin/python3.11 bot_twitch.py
ExecStart=/путь/до/виртуального_окружения/env/bin/python3.11 bot_twitch.tv
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
