[Unit]
Description=Twitch Notification Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=user
Group=user
WorkingDirectory=/home/user/bot_twitch

# Execute bot
ExecStart=/bin/bash -c 'source /home/user/.pyenv/versions/3.13.5/envs/env/bin/activate && cd /home/user/bot_twitch && /home/user/.pyenv/versions/3.13.5/envs/env/bin/python3.13 bot_main.py'

# Restart configuration
Restart=always
RestartSec=10

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=twitch_bot

[Install]
WantedBy=multi-user.target